## Sistema de Avaliação de Risco de Crédito

1.0 Importe das bibliotecas

In [4]:
# Manipulação e visualização
import pandas as pd
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt

# Opções de display
pd.set_option('display.max_rows', None)
pd.set_option('display.max_info_rows', 20)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

# Filtro de alarmes
import warnings
warnings.filterwarnings('ignore')

In [5]:
df = pd.read_csv("rawdata.csv", sep=";")
df
# Uma primeira olhada nos dados, visualizando todas as colunas.

      age            job   marital  education default  balance housing loan    contact  day month  duration  campaign  pdays  previous poutcome    y
0      30     unemployed   married    primary      no     1787      no   no   cellular   19   oct        79         1     -1         0  unknown   no
1      33       services   married  secondary      no     4789     yes  yes   cellular   11   may       220         1    339         4  failure   no
2      35     management    single   tertiary      no     1350     yes   no   cellular   16   apr       185         1    330         1  failure   no
3      30     management   married   tertiary      no     1476     yes  yes    unknown    3   jun       199         4     -1         0  unknown   no
4      59    blue-collar   married  secondary      no        0     yes   no    unknown    5   may       226         1     -1         0  unknown   no
5      35     management    single   tertiary      no      747      no   no   cellular   23   feb       141         2    176         3  failure   no
6      36  self-employed   married   tertiary      no      307     yes   no   cellular   14   may       341         1    330         2    other   no
7      39     technician   married  secondary      no      147     yes   no   cellular    6   may       151         2     -1         0  unknown   no
8      41   entrepreneur   married   tertiary      no      221     yes   no    unknown   14   may        57         2     -1         0  unknown   no
9      43       services   married    primary      no      -88     yes  yes   cellular   17   apr       313         1    147         2  failure   no
10     39       services   married  secondary      no     9374     yes   no    unknown   20   may       273         1     -1         0  unknown   no
11     43         admin.   married  secondary      no      264     yes   no   cellular   17   apr       113         2     -1         0  unknown   no
12     36     technician   married   tertiary      no     1109      no   no   cellular   13   aug       328         2     -1         0  unknown   no
13     20        student    single  secondary      no      502      no   no   cellular   30   apr       261         1     -1         0  unknown  yes
14     31    blue-collar   married  secondary      no      360     yes  yes   cellular   29   jan        89         1    241         1  failure   no
15     40     management   married   tertiary      no      194      no  yes   cellular   29   aug       189         2     -1         0  unknown   no
16     56     technician   married  secondary      no     4073      no   no   cellular   27   aug       239         5     -1         0  unknown   no
17     37         admin.    single   tertiary      no     2317     yes   no   cellular   20   apr       114         1    152         2  failure   no
18     25    blue-collar    single    primary      no     -221     yes   no    unknown   23   may       250         1     -1         0  unknown   no
19     31       services   married  secondary      no      132      no   no   cellular    7   jul       148         1    152         1    other   no
20     38     management  divorced    unknown      no        0     yes   no   cellular   18   nov        96         2     -1         0  unknown   no
21     42     management  divorced   tertiary      no       16      no   no   cellular   19   nov       140         3     -1         0  unknown   no
22     44       services    single  secondary      no      106      no   no    unknown   12   jun       109         2     -1         0  unknown   no
23     44   entrepreneur   married  secondary      no       93      no   no   cellular    7   jul       125         2     -1         0  unknown   no
24     26      housemaid   married   tertiary      no      543      no   no   cellular   30   jan       169         3     -1         0  unknown   no
25     41     management   married   tertiary      no     5883      no   no   cellular   20   nov       182         2     -1         0  unknown   no
26     55    blue-collar   married    primary      no      627     yes   no    unknown    5   may       247         1     -1         0  unknown   no
27     67        retired   married    unknown      no      696      no   no  telephone   17   aug       119         1    105         2  failure   no
28     56  self-employed   married  secondary      no      784      no  yes   cellular   30   jul       149         2     -1         0  unknown   no
29     53         admin.   married  secondary      no      105      no  yes   cellular   21   aug        74         2     -1         0  unknown   no
30     68        retired  divorced  secondary      no     4189      no   no  telephone   14   jul       897         2     -1         0  unknown  yes
31     31     technician   married  secondary      no      171      no   no   cellular   27   aug        81         3     -1         0  unknown   no
32     59     management   married  secondary      no       42      no   no   cellular   21   nov        40         1     -1         0  unknown   no
33     32     management    single   tertiary      no     2536     yes   no   cellular   26   aug       958         6     -1         0  unknown  yes
34     49     technician   married   tertiary      no     1235      no   no   cellular   13   aug       354         3     -1         0  unknown  yes
35     42         admin.  divorced  secondary      no     1811     yes   no    unknown   14   may       150         1     -1         0  unknown   no
36     78        retired  divorced    primary      no      229      no   no  telephone   22   oct        97         1     -1         0  unknown  yes
37     32    blue-collar   married  secondary      no     2089     yes   no   cellular   14   nov       132         1     -1         0  unknown  yes
38     33     management   married  secondary      no     3935     yes   no   cellular    6   may       765         1    342         2  failure  yes
39     23       services    single   tertiary      no      363     yes   no    unknown   30   may        16        18     -1         0  unknown   no
40     38     management    single   tertiary      no    11971     yes   no    unknown   17   nov       609         2    101         3  failure   no
41     36     management    single   tertiary      no      553      no   no   cellular   11   aug       106         2     -1         0  unknown   no
42     52    blue-collar   married  secondary      no     1117     yes   no   cellular   13   may       365         1     -1         0  unknown   no
43     32     technician   married   tertiary      no      396     yes   no   cellular   13   may       205         3     -1         0  unknown   no
44     32     technician    single   tertiary      no     2204     yes   no   cellular   21   nov        11         4     -1         0  unknown   no
45     34     management    single   tertiary      no      872     yes   no    unknown    7   may       105         2     -1         0  unknown   no
46     55    blue-collar   married    primary      no      145      no   no  telephone    2   feb        59         3      5         2    other   no
47     26    blue-collar   married    primary      no        0     yes   no    unknown   21   may       425         1     -1         0  unknown   no
48     32   entrepreneur    single    primary     yes     -849     yes  yes   cellular    4   feb       204         1     -1         0  unknown   no
49     61         admin.   married    unknown      no     4629     yes   no   cellular   27   jan       181         1     92         1  success  yes
50     45    blue-collar  divorced    primary      no      844      no   no    unknown    5   jun      1018         3     -1         0  unknown  yes
51     37     technician    single  secondary      no      228     yes   no   cellular   20   aug      1740         2     -1         0  unknown   no
52     38     technician    single  secondary      no       50      no   no   cellular   29   aug        98         2     -1         0  unknown   no
53     34     technician   married   tertiary      no     1539     yes   no   cellular   15   jun       441         1     56         1    other  yes
54     53    blue-collar   married  secondary      no     2231     yes   no   cellular   14   jul       272         3     -1         0  unknown   no
55     48         admin.   married  secondary      no     3064     yes   no  telephone   15   jul       159         2     -1         0  unknown   no
56     57     management   married  secondary      no       82      no  yes  telephone    4   feb       140         1     -1         0  unknown   no
57     33  self-employed    single   tertiary      no     2155      no   no   cellular   17   nov       295         1     -1         0  unknown   no
58     36        retired    single  secondary      no      101     yes  yes    unknown   26   may       314         1     -1         0  unknown   no
59     54     technician  divorced  secondary      no      784     yes  yes    unknown   15   may       579         1     -1         0  unknown   no
60     41    blue-collar   married    primary      no     -516      no  yes  telephone    8   jul       554         3     -1         0  unknown   no
61     63        retired   married  secondary      no      415     yes   no   cellular    7   oct       323         1     -1         0  unknown   no
62     48     management   married   tertiary      no     5887      no   no   cellular   13   aug       227         2     -1         0  unknown   no
63     48       services   married  secondary      no     1355      no   no   cellular    4   jul       134         2     -1         0  unknown   no
64     56         admin.   married  secondary      no    16873      no   no   cellular    7   oct       223         1     -1         0  unknown   no
65     51    blue-collar  divorced  secondary      no      203     yes   no   cellular    8   may       134         1    170         5  failure   no
66     31       services   married  secondary      no      338     yes   no   cellular   28   jan       155         1     -1         0  unknown   no
67     29     technician   married  secondary      no      444     yes   no   cellular   21   jul       130         4     -1         0  unknown   no
68     41     management   married  secondary      no        0      no  yes   cellular    7   jul       630         3     -1         0  unknown   no
69     32     technician    single   tertiary      no      360      no   no   cellular   19   nov       164         2     -1         0  unknown   no
70     37     management   married   tertiary      no        0      no   no   cellular   16   jul       268         2    182         3  success  yes
71     42   entrepreneur  divorced   tertiary     yes        2     yes   no    unknown    5   may       380         1     -1         0  unknown   no
72     31     management    single   tertiary      no     6248     yes   no    unknown    9   may       154         2     -1         0  unknown   no
73     41       services   married   tertiary      no      412     yes   no    unknown    3   jun       154         5     -1         0  unknown   no
74     56        retired   married  secondary      no      344     yes   no    unknown   15   may       221         1     -1         0  unknown   no
75     54     management  divorced   tertiary      no     3222      no   no   cellular   14   aug        67         2     -1         0  unknown   no
76     41    blue-collar  divorced  secondary      no      174     yes   no   cellular   14   may       367         2    297         1    other   no
77     40     technician    single  secondary      no      591      no  yes   cellular   14   aug        87         6     -1         0  unknown   no
78     50    blue-collar  divorced    primary      no      388      no   no   cellular    5   feb       701         1     -1         0  unknown   no
79     40     unemployed   married  secondary      no      219     yes   no   cellular   17   nov       204         2    196         1  failure   no
80     27         admin.  divorced  secondary      no      451     yes   no   cellular   16   jul       652         1     -1         0  unknown  yes
81     60        retired   married    primary      no        5      no   no   cellular   26   aug        63         2     -1         0  unknown   no
82     28         admin.    single  secondary      no      177     yes  yes   cellular    6   may       150         1     -1         0  unknown   no
83     52       services   married  secondary      no      657      no   no  telephone    7   jul       398         2    460         2  failure  yes
84     37     management   married   tertiary      no     1315      no   no   cellular   30   jun       224         1     -1         0  unknown  yes
85     51    blue-collar   married    primary      no     1466     yes   no    unknown    7   may       406         2     -1         0  unknown   no
86     41     technician    single  secondary      no      879      no  yes   cellular    7   jul        60         4     -1         0  unknown   no
87     35    blue-collar    single    primary      no      293     yes   no    unknown   30   may       521         2     -1         0  unknown   no
88     38         admin.   married  secondary      no      424     yes   no   cellular   17   apr       279         1     -1         0  unknown   no
89     34    blue-collar   married  secondary      no     1831     yes   no    unknown   20   may       203         2     -1         0  unknown   no
90     39    blue-collar   married    primary      no      111      no   no   cellular   18   nov       201         2     -1         0  unknown   no
91     34    blue-collar   married    primary      no      455     yes   no    unknown   20   jun       372         3     -1         0  unknown   no
92     27       services    single  secondary      no     -195     yes   no   cellular   18   may       391         1     -1         0  unknown  yes
93     32     management    single   tertiary      no     3616      no   no   cellular   14   aug       165         2     -1         0  unknown   no
94     57    blue-collar   married  secondary      no    14093      no   no   cellular   11   aug       231         5     -1         0  unknown   no
95     41        unknown    single   tertiary      no     1567      no   no   cellular    1   jul       291         2     -1         0  unknown   no
96     41         admin.   married   tertiary      no     5426     yes   no    unknown   14   may       149         2     -1         0  unknown   no
97     30         admin.    single   tertiary      no      261      no   no   cellular   19   oct       233         1    137        20  failure   no
98     36    blue-collar  divorced  secondary      no     2843      no   no   cellular   12   feb       473         1    182         1  success   no
99     31     unemployed    single    primary      no      406      no   no   cellular    4   feb       736         1     -1         0  unknown  yes
100    36    blue-collar   married  secondary      no        0     yes   no    unknown    6   may       337         1     -1         0  unknown   no
101    38     management    single   tertiary      no      493     yes   no   cellular   11   may       553         1    367         7  failure   no
102    49     technician   married  secondary      no     5996      no   no  telephone   21   nov       345         2     -1         0  unknown   no
103    57       services    single    primary      no     3777     yes   no  telephone   13   may        65         2     -1         0  unknown   no
104    34     management    single  secondary      no      524      no   no    unknown   13   aug         9         1     -1         0  unknown   no
105    32     management    single   tertiary      no      574     yes   no   cellular   14   apr       259         2    145         3  failure   no
106    37    blue-collar   married  secondary      no      427     yes  yes    unknown    9   jun       371         3     -1         0  unknown   no
107    33  self-employed   married   tertiary      no      483     yes   no   cellular    3   feb       280         2     -1         0  unknown   no
108    56     unemployed   married    primary      no     3391      no   no   cellular   21   apr       243         1     -1         0  unknown  yes
109    27      housemaid   married    primary      no        0     yes   no   cellular   23   jul       435         3     -1         0  unknown   no
110    21        student    single  secondary      no     2488      no   no   cellular   30   jun       258         6    169         3  success  yes
111    58     management   married   tertiary      no     1517     yes   no  telephone   29   jul         7         5     -1         0  unknown   no
112    32  self-employed   married  secondary      no      217     yes  yes   cellular   15   jul       317         5     -1         0  unknown   no
113    33    blue-collar    single  secondary      no       22      no   no   cellular   30   jan        76         2    207         1  failure   no
114    25        student    single  secondary      no      331      no   no  telephone   26   aug       170         4     -1         0  unknown  yes
115    25     technician    single  secondary      no      505      no  yes   cellular   17   nov       386         2     -1         0  unknown  yes
116    30       services   married  secondary      no     1808     yes   no   cellular   18   may        83         2     -1         0  unknown   no
117    22         admin.    single  secondary      no     4111      no  yes   cellular   19   aug        65         1     -1         0  unknown   no
118    39    blue-collar   married    primary      no       52      no   no   cellular   13   aug        69         1     -1         0  unknown   no
119    46     management  divorced   tertiary      no       25      no   no    unknown   17   jun       564         2     -1         0  unknown   no
120    31         admin.  divorced  secondary      no     1890     yes   no   cellular   21   jul       588         1     -1         0  unknown   no
121    45    blue-collar   married    primary      no      419      no   no   cellular   18   aug       113         4     -1         0  unknown   no
122    32     technician   married  secondary      no     2693     yes   no    unknown   21   may        16         1     -1         0  unknown   no
123    36    blue-collar   married  secondary      no     -231      no  yes   cellular   15   jul       779         2     -1         0  unknown   no
124    51     management    single   tertiary     yes      -55     yes   no   cellular   11   may       281         2    266         6  failure   no
125    34  self-employed    single   tertiary      no      462      no   no   cellular   21   aug      1877         3     -1         0  unknown  yes
126    24     unemployed    single  secondary      no      119      no   no    unknown   15   sep        51         1     -1         0  unknown   no
127    45     technician    single  secondary      no      586      no  yes   cellular   28   jul        32         3     -1         0  unknown   no
128    32    blue-collar    single  secondary      no      228      no   no  telephone    5   feb       176         1    288         3  failure   no
129    77        retired  divorced   tertiary      no     4659      no   no   cellular   14   apr       161         1     -1         0  unknown  yes
130    41    blue-collar   married    primary      no      168     yes   no   cellular   18   nov       187         3     -1         0  unknown   no
131    37    blue-collar   married    primary      no        0     yes   no    unknown   26   may        24         1     -1         0  unknown   no
132    43    blue-collar   married    unknown     yes     -715     yes   no    unknown   30   may        67         3     -1         0  unknown   no

### Dados
O conjunto de dados contém informações sobre os clientes, incluindo dados demográficos, histórico financeiro e interações anteriores com o banco. A variável de destino, "y", indica se o cliente contratou um depósito a prazo (sim/não).

### Estrutura
4521 linhas × 17 colunas.

### Características
- idade: idade do cliente.
- emprego: ocupação ou cargo do cliente.
- estado civil: estado civil do cliente (casado, solteiro, divorciado).
- escolaridade: nível de escolaridade alcançado pelo cliente.
- inadimplência: indica se o cliente possui histórico de inadimplência em empréstimos (sim, não).
- saldo: saldo total da conta do cliente.
- moradia: indica se o cliente possui financiamento imobiliário (sim/não).
- empréstimo: indica se o cliente possui um empréstimo pessoal (sim/não).
- contato: método de comunicação com o cliente (celular, telefone).
- dia: último dia em que o cliente foi contatado.
- mês: último mês em que o cliente foi contatado.
- duração: duração do último contato com o cliente (em segundos).
- campanha: número de contatos feitos com o cliente nesta campanha.
- dias: número de dias desde o último contato com o cliente (-1 se o cliente não tiver sido contatado anteriormente).
- anterior: número de contatos feitos com este cliente antes desta campanha. poutcome: resultado da campanha de marketing anterior (sucesso, fracasso, desconhecido).
- y: variável de destino, indicando se o cliente contratou um depósito a prazo (sim/não).


Abaixo, seguem as informações de cada coluna do dataset:

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
 #   Column     Dtype
---  ------     -----
 0   age        int64
 1   job        object
 2   marital    object
 3   education  object
 4   default    object
 5   balance    int64
 6   housing    object
 7   loan       object
 8   contact    object
 9   day        int64
 10  month      object
 11  duration   int64
 12  campaign   int64
 13  pdays      int64
 14  previous   int64
 15  poutcome   object
 16  y          object
dtypes: int64(7), object(10)
memory usage: 600.6+ KB

Agora, o resumo estatístico das colunas numéricas do dataset:

In [4]:
df.describe()

               age       balance          day     duration     campaign        pdays     previous
count  4521.000000   4521.000000  4521.000000  4521.000000  4521.000000  4521.000000  4521.000000
mean     41.170095   1422.657819    15.915284   263.961292     2.793630    39.766645     0.542579
std      10.576211   3009.638142     8.247667   259.856633     3.109807   100.121124     1.693562
min      19.000000  -3313.000000     1.000000     4.000000     1.000000    -1.000000     0.000000
25%      33.000000     69.000000     9.000000   104.000000     1.000000    -1.000000     0.000000
50%      39.000000    444.000000    16.000000   185.000000     2.000000    -1.000000     0.000000
75%      49.000000   1480.000000    21.000000   329.000000     3.000000    -1.000000     0.000000
max      87.000000  71188.000000    31.000000  3025.000000    50.000000   871.000000    25.000000

Quantidade de nulos no dataset:

In [5]:
df.isna().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

Não há nulos no dataset. Há duplicados?

In [6]:
df.duplicated().sum()

np.int64(0)